{% include "templates/includes/navbar.html" %}
<link rel="stylesheet" href="/assets/medci_app/css/style.css">
<div style="padding:60px;">
    <h1>Appointments</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Status</th>
        </tr>

        <tr>
            <td>John</td>
            <td>Dr. Rahul</td>
            <td>10 July 2026</td>
            <td>Confirmed</td>
        </tr>
    </table>
</div>

{% include "templates/includes/footer.html" %}