{% include "templates/includes/navbar.html" %}
<link rel="stylesheet" href="/assets/medci_app/css/style.css">
<div style="padding:60px;">
    <h1>Prescriptions</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Medicine</th>
        </tr>

        <tr>
            <td>John</td>
            <td>Dr. Rahul</td>
            <td>Paracetamol 500mg</td>
        </tr>
    </table>
</div>

{% include "templates/includes/footer.html" %}